@*@model Student*@
@model StudentCreateView

@{ 
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Add a new   Students";
}

    <div class="list-group panel-heading main-color-bg">Add Student</div>
    <form asp-controller="home" asp-action="createStudent" method="post" class="mt-3 list-group-item panel-body" enctype="multipart/form-data">
        <div class="col-lg-12">
            <p>Personal Details</p>
            <hr />
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="FirstName" class="form-control" /><span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="LastName" class="form-control" /><span class="text-danger" asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control" /><span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Gender" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10"><select asp-for="Gender" asp-items="Html.GetEnumSelectList<gender>()" class="form-control"></select></div>
            </div>
            <div class="form-group row">
                <label asp-for="Phone" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Phone" class="form-control" /><span class="text-danger" asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Address" class="form-control" /><span class="text-danger" asp-validation-for="Address"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Image" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Image" class="form-control custom-file-input" />
                        <label class="custom-file-label">Choose file.....</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <hr />
            <p>Next of Kin Info</p>
            <hr />
            <div class="form-group row">
                <label asp-for="MaritalStatus" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10"><select asp-for="MaritalStatus" asp-items="Html.GetEnumSelectList<maritalStatus>()" class="form-control"></select></div>
            </div>
            <div class="form-group row">
                <label asp-for="NextOfKinName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="NextOfKinName" class="form-control" /><span class="text-danger" asp-validation-for="NextOfKinName"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NextOfKinEmail" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="NextOfKinEmail" class="form-control" /><span class="text-danger" asp-validation-for="NextOfKinEmail"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NextOfKinPhone" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="NextOfKinPhone" class="form-control" /><span class="text-danger" asp-validation-for="NextOfKinPhone"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AddmissionType" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10"><select asp-for="AddmissionType" asp-items="Html.GetEnumSelectList<addmissionType>()" class="form-control"></select></div>
            </div>
            <div class="form-group row">
                <label asp-for="Nationality" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10"><select asp-for="Nationality" asp-items="Html.GetEnumSelectList<nationality>()" class="form-control"></select></div>
            </div>            
        </div>
        <div class="form-group row">
            <div class="col-sm-3"><button type="submit" class="form-group btn btn-primary">Next</button></div>
        </div>
        @section scripts{
            <script>
                $(document).ready(function () {
                    $('.custom-file0=-input').on("change", function () {
                        var filename = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(filename);
                    });
                });
            </script>
        }
    </form>