@{
    Layout = "~/Views/Shared/indexLayout.cshtml";
    ViewBag.Title = "welcome Page";
}

    <div style="margin: 10% 27%">
        <img src="~/images/icon.png" class="img-responsive" style="width:30%; margin-left: 30%" />
        <h1 class="themeText">Build anything</h1>
        <a asp-controller="account" asp-action="login" class="btn btn-primary myBtn">begin</a>
    </div>